* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#tsparticles {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: 0;

  color: #fffeac;
}

.App {
  position: relative;
}

.hero_container {
  padding-bottom: 96px;
  padding-left: 64px;
  padding-right: 64px;
}

.hero_section {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;

  gap: 10;

  max-width: 1440px;
  margin: 0 auto;
}

.hero_left {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%;

  background-image: url("bg_01.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hero_right {
  position: relative;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 48px;
}

.Avatar {
  width: 100%;
  position: absolute;
  object-fit: contain;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;

  mix-blend-mode: screen;
}
